.notifications {
    border: 2px dashed rgb(225, 70, 14);
    padding: 1rem 1.75rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.notifications-panel p {
    margin-bottom: 1rem;
}

[data='default'] {
    color: blue;
}

[data='urgent'] {
    color: red;
}